/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Yellow: hsl(47, 88%, 63%)

### Neutral

- White: hsl(0, 0%, 100%)
- Grey: hsl(0, 0%, 50%)
- Black: hsl(0, 0%, 7%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Figtree](https://fonts.google.com/specimen/Figtree)
- Weights: 600, 800
 */

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--base-1: hsl(47, 88%, 63%);
	--base-2: hsl(0, 0%, 100%);
	--base-3: hsl(0, 0%, 7%);
	--base-4: hsl(0, 0%, 50%);
}

body {
	font-family: 'Figtree', Arial, Helvetica, sans-serif;
	background-color: var(--base-1);
}

.card-container {
	max-width: 70%;
	border: 1px solid black;
	margin: 10em auto;
	background-color: var(--base-2);
	border-radius: 20px;
	box-shadow: rgb(0, 0, 0) 10px 10px 0px;
}

.card-grid {
	padding: 0.5em 0.7em;
	margin: 0.8em auto;
	max-width: 95%;
	max-height: 100%;
	border-radius: 10px;
	overflow: hidden;
}

.card-image {
	width: 100%;
	overflow: hidden;
	border-radius: 10px;
	margin-bottom: 0.8em;
}

.card-text-tag {
	border: 1px solid var(--base-1);
	background-color: var(--base-1);
	max-width: fit-content;
	margin: 0.5em 0;
	padding: 0.4em 1em;
	font-size: 0.8rem;
	border-radius: 5px;
}
.text-date {
	font-weight: 400;
	font-size: 0.7rem;
	padding: 0.5em 0;
	margin-bottom: 0.8em;
}

.card-text--heading {
	font-size: 1.2rem;
	list-style: none;
	color: var(--base-3);
	text-decoration: none;
	font-weight: 700;
	margin: 0.8em 0;
}

.card-text--heading:hover {
	color: var(--base-1);
	cursor: pointer;
}

.text--main {
	font-size: 0.8rem;
	font-weight: 300;
	line-height: 1.4rem;
	color: var(--base-4);
	margin: 0.8em 0;
}

.card-text--footer {
	display: flex;
	flex-direction: row;
	padding: 0.5em 0;
	margin: 0.5em 0 0 0;
}

.footer--image {
	max-width: 15%;
	height: auto;
}
.footer--text {
	margin: auto 0.8em;
	padding: 0.5em 0;
	font-size: 0.8rem;
}

@media (min-width: 500px) {
	.card-container {
		margin: 50px auto;
		max-width: 20em;
		height: auto;
	}
	.card-grid {
		max-width: 95%;
		height: auto;
		padding: 0.8em;
		margin: 0.5em auto;
	}

	.card-text-tag,
	.text-date,
	.card-text--heading {
		margin: 0.5em 0;
	}
	.text--main {
		padding: 1em 0;
	}
	.card-text--footer {
		padding: 0 0 0 0;
	}
}
